<% provide(:title, @teacher.name) %>
<h1>Home</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3 list-group">
        <%= link_to "Class Roster" , students_path, :class => "list-group-item", :style => "text-align: center;",:method => :get%>
        <%= link_to "Show Teams" , showteams_path, :class => "list-group-item", :style => "text-align: center;",:method => :get%>
        <%= link_to "Create Teams",new_team_path,:class => "list-group-item", :style => "text-align: center;",:method => :get %>
        <%= link_to "Add Students",new_student_path,:class => "list-group-item", :style => "text-align: center;",:method => :get %>
        
    </div>
</div>
