<% provide(:title, @teacher.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="teacher_info">
       <h1>
         <%= @teacher.name %>
      </h1>
    </section>
  </aside>
</div>