<% if teacher_logged_in? %>
    <h2>Team Members: </h2>
    <% @students.each do |s| %>
        <p><%= s.name %></p>
    <% end %>
    <h2>Projects: </h2>
    <% @projects.each do |p| %>
        <p><%= p.name %></p>
    <% end %>
<% else%>
    <h2>Team Members: </h2>
    <% @students.each do |s| %>
        <p><%= s.name %></p>
    <% end %>
    <h2>Projects: </h2>
    <% @projects.each do |p| %>
        <%= link_to p.name, showprojects_path(:projectID => p.id), :class => "btn btn-primary" %>
    <% end %>
<% end %>