<% provide(:title, @student.name) %>
<h1>Home</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= button_to "Make Evaluation" , teams_path, :class => "btn btn-primary", :method => :get%>
        <%= button_to "See Evaluations", showEvaluations_path, :class => "btn btn-primary", :method => :get%>
    </div>
</div>
