<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<h1>Welcome to the PeerEval tool!</h1>
<p2> The PeerEval tool is a great tool for students to evaluate their teammates on their efforts on different projects throughout the school year. It also allows instructors to create different teams of students and add students to their class roster. Click the options on the navigation bar on the top right of this page to navigate the website.</p2>
<br>
<br>
<img src = "teams.jpg" alt = "Students in Team" width="50" height="300" class="center">
<br>

<%= link_to 'Student register', studentsignup_path %>
<br>
<%= link_to 'Teacher register', teachersignup_path %>
