<h1>Welcome to the PeerEval tool!</h1>
<p2> The PeerEval tool is a great tool for students to evaluate their teammates on their efforts on different projects throughout the school year. It also allows instructors to create different teams of students and add students to their class roster. Click the links on this page to navigate the website.</p2>
<br>
<br>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Student register', studentsignup_path %>
<br>
<%= link_to 'Teacher register', teachersignup_path %>
