@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing(border-box);
}
input {
    height: auto !important;
}