<h1>Teams</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<% if teacher_logged_in?%>
    <ul class = "list-group">
    <% @teams.each do |t| %>
        <h3><%= link_to t.name, projects_path(:teamID => t.id), :style => "text-align: center;",class: "list-group-item" %></h3>
    <% end %>
    </ul>
    <%= link_to 'Back To Menu', current_teacher, class: "btn btn-default glyphicon glyphicon-menu-left"%>
<% else %>
    <% @teams.each do |t| %>
        <%= link_to t.name, projects_path(:teamID => t.id), :style => "text-align: center;", :class => "list-group-item" %>
    <% end %>
    <%= link_to 'Back To Menu', current_student, class: "btn btn-default glyphicon glyphicon-menu-left"%>
<% end %>
</div>
</div>

