<h1>Teams</h1>

<% if teacher_logged_in?%>
    <ul class = "list-group">
    <% @teams.each do |t| %>
        <h3><%= link_to t.name, projects_path(:teamID => t.id), class: "list-group-item" %></h3>
    <% end %>
    </ul>
<% else %>
    <% @teams.each do |t| %>
        <%= link_to t.name, projects_path(:teamID => t.id), :class => "list-group-item" %>
    <% end %>
<% end %>
